In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('C:/Users/user/Downloads/test_data.xlsx')
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [5]:
# analyze data in indexes between (410400, 414400)!
# filter_data=df.loc[410400:414400]
filter_data=df.iloc[190000: 194000]

filter_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
190000,507393,48187,DOOR MAT NEW ENGLAND,10,2010-05-09 12:49:00,6.35,14911.0,EIRE
190001,507393,21894,POTTING SHED SEED ENVELOPES,12,2010-05-09 12:49:00,1.25,14911.0,EIRE
190002,507393,21895,POTTING SHED SOW 'N' GROW SET,4,2010-05-09 12:49:00,4.25,14911.0,EIRE
190003,507393,21896,POTTING SHED TWINE,6,2010-05-09 12:49:00,2.10,14911.0,EIRE
190004,507393,22479,DAISY GARDEN MARKER,10,2010-05-09 12:49:00,1.25,14911.0,EIRE
...,...,...,...,...,...,...,...,...
193995,507860,21610,NaN,-110,2010-05-11 14:54:00,0.00,NaN,United Kingdom
193996,507862,20938,NaN,-109,2010-05-11 14:55:00,0.00,NaN,United Kingdom
193997,507861,72024U,NaN,-106,2010-05-11 14:55:00,0.00,NaN,United Kingdom
193998,507863,20935,NaN,-37,2010-05-11 14:55:00,0.00,NaN,United Kingdom
193999,507864,21691,NaN,-34,2010-05-11 14:56:00,0.00,NaN,United Kingdom

In [6]:
# clean data
filter_data=filter_data.dropna()
filter_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
190000,507393,48187,DOOR MAT NEW ENGLAND,10,2010-05-09 12:49:00,6.35,14911.0,EIRE
190001,507393,21894,POTTING SHED SEED ENVELOPES,12,2010-05-09 12:49:00,1.25,14911.0,EIRE
190002,507393,21895,POTTING SHED SOW 'N' GROW SET,4,2010-05-09 12:49:00,4.25,14911.0,EIRE
190003,507393,21896,POTTING SHED TWINE,6,2010-05-09 12:49:00,2.10,14911.0,EIRE
190004,507393,22479,DAISY GARDEN MARKER,10,2010-05-09 12:49:00,1.25,14911.0,EIRE
...,...,...,...,...,...,...,...,...
193979,507848,84879,ASSORTED COLOUR BIRD ORNAMENT,16,2010-05-11 14:41:00,1.69,13103.0,United Kingdom
193980,507848,22456,NATURAL SLATE CHALKBOARD LARGE,6,2010-05-11 14:41:00,4.95,13103.0,United Kingdom
193981,507848,71053,WHITE METAL LANTERN,8,2010-05-11 14:41:00,3.75,13103.0,United Kingdom
193982,507848,84970S,HANGING HEART ZINC T-LIGHT HOLDER,12,2010-05-11 14:41:00,0.85,13103.0,United Kingdom
193983,507848,84970L,SINGLE HEART ZINC T-LIGHT HOLDER,12,2010-05-11 14:41:00,0.95,13103.0,United Kingdom

In [7]:
filter_data['Invoice'].count()

3381

In [8]:
# The amount of unique invoices in the provided dataset for indexes (410400, 414400)
filter_data['Invoice'].nunique()

202

In [9]:
# The country with the most orders is Odpověď 2 Úloha 11
# United Kingdom
#  (string) with the amount of Odpověď 3 Úloha 11
# #  (integer)
filter_data['Country'].max()

'United Kingdom'

In [10]:
# filter_data.groupby('Country')['Quantity'].count().nlargest(10)
filter_data.groupby('Country')['Quantity'].count().max()

3015

In [11]:
# The country with the least orders is Odpověď 4 Úloha 11
# Australia
#  (string) with the amount of Odpověď 5 Úloha 11
#  (integer).
aus=min(filter_data['Country'])
aus

'Belgium'

In [13]:
# filter_data[filter_data.Country==min(filter_data['Country'])]['Country'].count()
filter_data[filter_data['Country']=='Australia']['Country'].count()

0

In [14]:
# The highest total price per item in one order
filter_data['total_price']=filter_data['Quantity']*filter_data['Price']
# print(filter_data['Price'].max())
# #  (float) in order with id Odpověď 7 Úloha 11
# filter_data['Price'].idxmax()

C:\Users\user\AppData\Local\Temp\ipykernel_12272\2052416777.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_data['total_price']=filter_data['Quantity']*filter_data['Price']

In [19]:
filter_data.groupby("Invoice")['total_price'].sum().nlargest(10)

Invoice
507845    2174.10
507707    1926.40
507464    1621.80
507399    1438.19
507465    1393.92
507715    1244.60
507624    1192.64
507634    1149.37
507710    1085.50
507698    1041.51
Name: total_price, dtype: float64

In [16]:
filter_data.groupby("Invoice")['total_price'].sum().idxmax()

507845

In [17]:
# The first highest spending customer with id
#  (integer) ordered a total of
#  (integer) times.
print(filter_data.groupby("Customer ID")['total_price'].sum().nlargest(2))

Customer ID
18102.0    3015.72
14911.0    2938.28
Name: total_price, dtype: float64